@model MilllsteinG1.Areas.Admin.Models.TeamModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Secomdary_Layout.cshtml";

    ViewBag.AdvisoryActive = "menu_top_border";
    
}

<form action="UpdateAdvisorsOverview" method="post" enctype="multipart/form-data">


    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div class="row outer-Box" style=" margin-top:20px;">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading"> Advisory</div>
                <div class="panel-body">
                    <div class="form-group">

                      
                        <div class="row firm_title">
                            <div class="col-xs-9 logo">
                                <a href="~/home"><img src="~/Images/logo-all.png" /></a>
                            </div>
                            <div class="col-xs-3 firm_sidebar advisory_leftbar_title">
                                <ul class="list-inline firm_sidebar_ul">
                                    <li><a href="#">Advisory</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row firm_content inv_content">
                            <div class="col-md-9 col-xs-12 inv_content_descriprion">
                                <div class="show_buttom_advisory visible-xs visible-sm">
                                    <button class="btn btn-default advisory_button">View all Advisers</button>
                                    <ul class="left_bar_advisory mobile_left_bar_advisory">
                                        @foreach (var member in @Model.teamList)
                                        {

                                            <li><a href="~/Admin/advisors/info/@member.Id">@member.FirstName @member.LastName</a></li>
                                        }
                                        <li>
                                            @Html.ActionLink("Add New Advisory", "InsertMembers", null, new { @class = "btn btn-primary btn-xs", style = "color:white;" })
                                            <hr />
                                        </li>
                                    </ul>
                                </div>
                                <div class="adv_content">
                                    <div class="news_title">
                                        <h2>Quote</h2>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group  col-md-12 nopadding ">
                                            <div class="col-lg-12 nopadding ">
                                                @Html.TextAreaFor(model => model.advisory.Quote, 80, 10, new { @class = "form-control ckeditor investment-detail-content", @name = "editor1" })                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="advisory_company ">
                                    <div class="news_title">
                                        <h2>Advisory Image</h2>
                                    </div>
                                    <img src="~/Images/@Model.advisory.Picture" />
                                    <div>
                                        @Html.LabelFor(m => m.ImageUpload)
                                        @Html.TextBoxFor(m => m.ImageUpload, new { @type = "file" })
                                    </div>
                                    <br />

                                    <div class="news_title">
                                        <h2>Content title</h2>
                                    </div>
                                    <h4 class="investment_title">

                                        @Html.EditorFor(model => model.advisory.ContentTitle1, new { htmlAttributes = new { @class = " input-group date form_datetime col-lg-4 form-control " } })
                                    </h4>
                                    <br />
                                    <div class="news_title">
                                        <h2>Content</h2>
                                    </div>
                                    @Html.TextAreaFor(model => model.advisory.Content1, 80, 10, new { @class = "form-control ckeditor investment-detail-content", @name = "editor1" })
                                    <br />
                                    <div class="news_title">
                                        <h2>Content Title </h2>
                                    </div>
                                    <h4 class="investment_title">
                                        @Html.EditorFor(model => model.advisory.ContentTitle2, new { htmlAttributes = new { @class = " input-group date form_datetime col-lg-4 form-control " } })
                                    </h4>
                                    <br />
                                    <div class="news_title">
                                        <h2>Content</h2>
                                    </div>
                                    <h4 class="investment_title">
                                        @Html.TextAreaFor(model => model.advisory.Content3, 80, 10, new { @class = "form-control ckeditor investment-detail-content", @name = "editor1" })

                                    </h4>
                                    <br/>
                                    <i class="news_title">
                                    <h2>Content</h2>
                                </i>   
                                    @Html.EditorFor(model => model.advisory.ContentTitle3, new { htmlAttributes = new { @class = " input-group date form_datetime col-lg-4 form-control " } })
                                    <br/>
                                    <div class="news_title">
                                        <h2>Content</h2>
                                    </div>   
                                    @Html.TextAreaFor(model => model.advisory.Content3, 80, 10, new { @class = "form-control ckeditor investment-detail-content", @name = "editor1" })




                                </div>
                            </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
                            <div class="col-xs-3 visible-lg visible-md">
                                <ul class="left_bar_advisory">
                                    @foreach (var member in @Model.teamList)
                                    {

                                        <li><a href="~/Admin/advisors/info/@member.Id">@member.FirstName @member.LastName</a></li>
                                    }
                                    <li>
                                        @Html.ActionLink("Add New Advisory", "InsertMembers", null, new { @class = "btn btn-primary btn-xs", style = "color:white;" })
                                        <hr />
                                    </li>
                                </ul>
                                
                            </div>

                        </div>

                        <div class="col-md-12 nopadding" style="margin-bottom: 50px!important;">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Advance Options</div>
                                <div class="panel-body">
                                    <div class="form-group">


                                        <div class="form-group">

                                        </div>



                                        <div class="form-group">
                                            <div class=" col-md-4">
                                                <input type="submit" value="Update Advisory" class="btn btn-default" />
                                            </div>
                                            <div class=" col-md-4">
                                                @Html.ActionLink("Cancel", "index", null, new { @class = "btn btn-default" })
                                            </div>

                                          
                                           
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>
                </div>

            </div>

        </div>


    </div>

</form>



    


    @section scripts{
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>



<link href="~/Content/prettify.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.fr.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $(".advisory_button").click(function () {
                    $(".mobile_left_bar_advisory").slideToggle("slow");
                });

                $('.form_datetime').datetimepicker({

                });
            });
        </script>
    }
    }
